*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

/* ensure no horizontal padding/margin on sections across the app */
section {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* keep .container padding cleared globally (defensive) */
.container {
  padding-left: 0;
  padding-right: 0;
}
